{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


    
    {% block title %}
      <title>Demo</title>
    {% endblock %}
      
    

  </head>
  <body>
    <center>
    <nav class="nav" style="background-color: rebeccapurple;">
      <a href="{% url 'admin:index' %}" class="nav-link">Admin Page</a>
      <a href="{% url 'home' %}" class="nav-link">Home Page</a>
      
      <a href="{% url 'registration' %}" class="nav-link">Registration</a>
      
      {% if user.is_authenticated %}
      <a href="{% url 'user_logout' %}" class="nav-link">user_logout</a>
  
    {% else %}
      <a href="{% url 'user_login' %}" class="nav-link">user_login</a>
   
      {% endif %}
    </nav>
    

    <link rel="stylesheet" href="{% static 'js/bootstarp.bundle.js' %}">
    <link rel="stylesheet" href="{% static 'js/bootstarp.bundle.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/bootstarp.js' %}">
    <link rel="stylesheet" href="{% static 'js/bootstarp.min.js' %}">
    {% block body_block %} 
    {% endblock %}
  </center>
  </body>
</html>